@{
    ViewBag.Title = "Welcome";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="centered"><h2 style="color:black" class="text-center text-capitalize">Welcome: @Session["UserName"].ToString()</h2></div>