@model IEnumerable<NovelWeb_SS5.Models.Truyen>

<div class="product__sidebar__comment">
    <div class="section-title">
        <h5>Truyện Xem Nhiều</h5>
    </div>
    @foreach (var item in Model)
    {
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <a class="" href="@Url.Action("TruyenDetails",new { id = item.idTruyen } )">
                    <img style="height:130px; width:90px;" class="text-center" src="~/Areas/Admin/Content/images/@item.anhDaidien" />
                </a>
            </div>

            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Active</li>
                    <li>Novel</li>
                </ul>
                <h5><a href="@Url.Action("TruyenDetails",new { id = item.idTruyen } )">@Html.DisplayFor(model => item.tenTruyen)</a></h5>
                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
            </div>
        </div>
    }
</div>